
:focus {
 
} 

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #fbb03b, #ff3300);
}



.search-container {
  width: 300px;
  margin: 50px auto;
  position: relative;
}

.suggestions li:hover,
.suggestions li.highlight {
  background: orangered;
}

.search-container input,
.search-container .suggestions {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: medium;
  list-style-type: none;
}
.search-container input {
 background-color: #fbb03b;
 background: linear-gradient(to right, #fbb03b, #ff3300);
}
.search-container .suggestions {
   border-style: none;
   color: black;
   background-color: #f28c55;
}


.suggestions ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


ul li:hover {
  padding: 10px;
  cursor: pointer;
}

input[type="text"] {
   list-style-type: none;
  padding: 10px;
  box-sizing: none;
  font-size: 16px;
  border: none;
  border-radius: 20px; /* Rounded corners for the search input */
  outline: none;
  background: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
}
